<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {% seo %}

  <!-- Import Inter font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

  {% case site.blog_theme %}
    {% when 'light' %}
      <link rel='stylesheet' href='{{ '/assets/light.css' | relative_url }}'>
    {% when 'dark' %}
      <link rel='stylesheet' href='{{ '/assets/dark.css' | relative_url }}'>
    {% when 'auto' %}
      <link rel='stylesheet' href='{{ '/assets/light.css' | relative_url }}'>
      <link rel='stylesheet' href='{{ '/assets/dark.css' | relative_url }}' media="(prefers-color-scheme: dark)">
  {% endcase %}

  <!-- Wave Animation CSS -->
  <link rel='stylesheet' href='{{ '/assets/css/wave-animation.css' | relative_url }}'>

  {% feed_meta %}
  <!--{% include google_analytics.html %}-->
</head>