html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  filter: brightness(0.5); // Adjusted for hover effect
}

body {
  background-color: $body-bg-color;
  font-family: 'Inter', 'Inter UI', -apple-system, sans-serif;
  font-weight: 200; /* ExtraLight */
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}

.layout {
  max-width: 600px; // Reduced from 700px
  margin: auto;
  padding: 0 15px; // Slightly increased padding
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.main {
  margin: 50px 0 120px;
}

.header__nav {
  white-space: nowrap;
  margin-top: 12px;
}

.header__nav__item,
.header__title {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Inter', 'Inter UI', -apple-system, sans-serif;
  color: $header-color;
}

.header__nav__item {
  margin-right: 10px;
}

.header__title {
  font-size: 1.55rem;
  margin-bottom: 15px; // Adjusted to add spacing between title and nav items
  font-weight: 100;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: baseline;
}

.posts__date {
  width: 30%;
  color: $post-date-color;
  font-size: 1rem;
  font-family: 'Inter', 'Inter UI', -apple-system, sans-serif;
}

.posts__title {
  width: 70%;
  font-size: 1rem;
}

.posts__link {
  color: $post-link-color;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center; // Centering the content horizontally
  align-items: center;
  padding: 25px 0;
  font-size: .9rem;
  font-style: italic;
  font-family: $serif-fonts; // Assuming $serif-fonts is defined elsewhere
  color: $footer-color;
}

.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-right: 10px;
  display: flex;
}

.footer__item a {
  color: $footer-color;
  text-decoration: none;
}

.icon {
  height: .9rem;
  width: .9rem;
  fill: $icon-color;
}

#disqus_thread {
  margin-top: 60px;
}
