<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: 'en' }}'>
  {% include head.html %}
  <body>
    <div class='layout'>
      {% include header.html %}
      <main class='main'>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    <script>
      if (window.location.pathname === '/' && window.location.href.endsWith('/')) {
        const newUrl = window.location.href.slice(0, -1);
        window.history.replaceState({}, document.title, newUrl);
      }
    </script>
  </body>
</html>